/* ============ GENERAL ============ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  /* --- Primary colors --- */
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  /* --- Font colors --- */
  --vivid-pink: hsl(350, 98%, 77%);
  --dark-pink-brown: hsl(354, 16%, 62%);
  --dark-pink: hsl(350, 40%, 51%);

  --light-green: hsl(167, 28%, 74%);
  --medium-green: hsl(168, 20%, 60%);
  --medium-green-hover: hsl(168, 13%, 42%);
  --brand-green-hover: hsl(170, 100%, 14%);
  --brand-green: hsl(168, 42%, 38%);

  /* --- Background colors --- */
  --light-pink: hsl(349, 100%, 97%);
  --brand-green-light: hsl(180, 14%, 97%);
  --bright-green: hsl(169, 28%, 92%);
  --bg-light: hsl(180, 14%, 97%);

  /* --- Secondary colors --- */
  --gray-headline: hsl(105, 100%, 5%);
  --gray-paragraph: hsl(104, 16%, 24%);
  --white: hsl(0, 0%, 100%);
  --brand-beige: hsl(39, 100%, 97%);

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans";
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--gray-headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}

.button {
  background-color: var(--medium-green);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

.button:hover {
  background-color: var(--medium-green-hover);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/* ============ NAVIGATION ============ */

nav {
  display: flex;

  height: var(--nav-height);

  /* padding-inline: 2.4rem;
  padding-block: 1.6rem; */

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--medium-green);
}

nav.scroll svg path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/* ============ MENU-EXPANDED ============ */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--medium-green);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;

  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--white);
  text-decoration: none;
}

.menu .button {
  background: var(--white);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--medium-green);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 6rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  stroke: white;
}

body.menu-expanded button path {
  stroke: white;
}

/* ============ #HOME ============ */

#home {
  padding-top: calc(4.1rem + var(--nav-height));
  background-color: var(--bright-green);
}

/* #home::before {
  content: "";
  width: 100%;
  height: calc(78rem + var(--nav-height));
  background-color: var(--bright-green);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

#home .button {
  margin-inline: auto;
}

#logo_full {
  width: 100%;
  height: 100%;
  margin-bottom: 6rem;
}

#home img {
  width: 100%;
  /* width: 26.2rem; */
  display: block;
  margin-inline: auto;
  margin-bottom: 6rem;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

/* ============ SERVICES ============ */

#services header h2 {
  margin-bottom: 6rem;
}

#services header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;

  color: var(--medium-green);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: var(--white);

  border: 1.5px solid var(--bright-green);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/* ============ ABOUT ============ */

#about {
  text-align: left;
  background-color: var(--light-pink);
}

#about header h4 {
  color: var(--dark-pink-brown);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
  color: var(--paragraph);
}

#about img {
  width: 100%;
  /* width: 26.2rem; */
  display: block;
  margin-inline: auto;
  margin-bottom: 6rem;
}

/* ============ CONTACT ============ */

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 1.6rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact .address p:nth-child(2),
#contact .address p:nth-child(3),
#contact .address p:nth-child(4) {
  padding-left: 2.4rem;
}

#contact .address {
  margin-bottom: 3.5rem;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;

  border: 1.5px solid var(--bright-green);
  border-radius: 0.6rem;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;  
}

/* ============ FOOTER ============ */

footer {
  background-color: var(--medium-green);
  padding-block: 6rem;

  text-align: center;

  color: var(--white);
}

footer .logo {
  display: inline-block;
  margin-bottom: 8rem;
}

footer p {
  color: var(--white);
  line-height: 2;

  /* margin-bottom: 3.2rem; */
}

footer .social-links {
  justify-content: flex-start;
}

footer .logo-social-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .logo-social-links .social-links {
  margin-top: 1.2rem;
}




